

<div class="row">
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img"  aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image class="bd-placeholder-img rounded-circle" width="140" height="140" xlink:href="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg"/> </svg>
        <h2 class="fw-normal">Instagram</h2>
        <p><a class="btn btn-secondary" href="https://www.instagram.com/jessejohnsonofficial/">View &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img"  aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image class="bd-placeholder-img rounded-circle" width="160" height="140" xlink:href="{{url_for('static', filename='./assets/images/LI-In-Bug.png')}}"/> </svg>
        <h2 class="fw-normal">LinkedIn</h2>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/jesse-johnson-5a5ab62b4/">View &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image width="140" height="140" xlink:href="{{url_for('static', filename='./assets/images/github-mark.png')}}"/></svg>
        <h2 class="fw-normal">GitHub</h2>
        <p><a class="btn btn-secondary" href="https://github.com/eliaspope?ocid=AIDcmmcwpj1e5v_SEM__k_Cj0KCQjwir2xBhC_ARIsAMTXk87PSPNtqplERDZkDryU4PCkmHr8qsVBind3-gTb3MVDj72ju2ZgeoIaAruHEALw_wcB_k_">View &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/><image height="140" width="140" xlink:href="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/240px-Facebook_f_logo_%282021%29.svg.png"/> </svg>
        <h2 class="fw-normal">Facebook</h2>
        <p><a class="btn btn-secondary" href="https://www.facebook.com/SeeJJLee/">View &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
